{% extends "courses/courses_dashboard.html" %}

{% block breadcrumb %}
{{ block.super }}
<li>/</li>
<li>
    <a href="{% url 'courses:lessons' course.slug %}">
        Aulas
    </a>
</li>
<li>/</li>
<li>
    <a href="{% url 'courses:lesson' course.slug lesson.pk %}">
        {{ lesson }}
    </a>
</li>
{% endblock %}

{% block dashboard_content %}

<div class="well">
    <h2><a href="#">{{ lesson }}</a></h2>
    <p>
        {{ lesson.description|linebreaks }}
    </p>
    <p>
        <h4>Material da Aula</h4>
        <table class="pure-table full">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for material in lesson.materials.all %}
                <tr class="{% cycle '' 'pure-class-odd' %}">
                    <td>{{ material }}</td>
                    {% if material.is_embedded %}
                    <td>
                        <a href="{% url 'courses:material' course.slug material.pk %}">
                            <i class="fa fa-video-camera"></i>
                            Acessar
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{{ material.file.url }}">
                            <i class="fa fa-cloud-download"></i>
                            Baixar
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">Nenhum Material</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
</div>

{% endblock %}